*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin:0 auto;
    padding: 0 2%;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    height: 200px;
    padding: 20px 0;
}

.logo{
    width: 50%;

}

.menu{
    font-size: 13px;
    padding-right: 60px;
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 5px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -290px;
    right: -270px;
    width: 720px;
    height: 720px;
    border-radius: 50%;
    background-color: #017143;

}

img[src*="img1"]{
    position: absolute;
    width: 250px;
    height: 380px;
    left: 20px;
    top: -40px;
}

.social-media{
    position: absolute;
    right: 280px;
    top: 140px;
}

.social-media img{
    display: block;
    width: 15px;
    margin: 20px 0;
}

.texto-sobre{
    margin-top:0;
}

.texto-sobre h1{
    font-size: 40px;
}

.texto-sobre p{
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 650px;
}

.texto-sobre a{
    text-align: center;
    position: absolute;
    text-decoration: none;
    border: 0;
    background-color: #017143;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

.rodape{
    position: absolute;
    left: 500px;
    top: 260px;
}

.rodape img{
    display: inline-block;
    width: 60px;
    margin: 20px;
}